@import "https://assets.codepen.io/10860295/reset.css";

/* YOUR CODE STARTS HERE ----------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 32px 30px;
  border: 1px solid black;
  border-radius: 15px;
  gap: 20px;
}

h3 {
  flex-basis: 33%;
  flex-shrink: 0;
}
